*{
    padding: 0;
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns:10% auto;
    grid-template-rows: auto  auto 1fr auto;
    grid-template-areas: 
        "header header"
        "nav main "
        "nav main"
        "footer footer";
}

.grid{
    padding: 1rem;
}


.grid-header{
    background-color: #2f4297;
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    
}
.grid-header h1{
    font-family: "Ubuntu", serif;
    font-weight: 700;
    font-style: italic;
}

.grid-header img{
    width: 10%;
}

.grid-nav{
    background-color: #4f87a3;
    grid-area: nav;

}

.grid-nav a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.514);
}

.grid-nav a:hover{
    color: rgb(84, 70, 122);
}

.grid-main{
    background-color: #294d61;
    grid-area: main;
    font-family: "Ubuntu", serif;
  font-weight: 400;
  font-style: italic;
}


.informacion1 h1{
    box-sizing: border-box;
    display: inline-block;
    width: 100%;    
}

.informacion1{
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
    padding: 25px;
    font-family: "Ubuntu", serif;
    font-weight: 400;
    font-style: italic;
}
.informacion1 img{
    width: 100%;
}

.informacion2{
    box-sizing: border-box;
    display: inline-block;
    width: 49%;
    padding: 25px;
    font-family: "Ubuntu", serif;
  font-weight: 400;
  font-style: italic;
}

.informacion2 img{
    width: 100%;
}

.grid-main table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid rgb(59, 53, 59);
}
.grid-main table img{
    width: 100%;
}

.grid-main table img:hover {
    -webkit-transform:scale(1.3);transform:scale(1.3);} {overflow:hidden;
    }
    

.grid-footer{
    background-color: rgb(70, 109, 182);
    grid-area: footer;
}

.grid-footer p{
    text-align: center;
}

.grid-footer a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.514);
}

.grid-footer a:hover{
    color: rgb(84, 70, 122);
}

 
@media (max-width: 600px){
    .container{
        display: grid;
        grid-template-columns:1fr auto;
        grid-template-rows: auto  auto 1fr auto;
        height: 100vh;
        grid-template-areas: 
            "header header"
            "nav nav "
            "main main "
            "footer footer";

    .informacion1{
                box-sizing: border-box;
                display: inline-block;
                width: 100%;
                padding: 25px;
                font-family: "Ubuntu", serif;
                font-weight: 400;
                font-style: italic;
    }

    .informacion2{
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        padding: 25px;
        font-family: "Ubuntu", serif;
        font-weight: 400;
        font-style: italic;
    }

    .grid-nav{
        background-color: #4f87a3;
        grid-area: nav;
        position: sticky;
        top: 0%;
    }

    }
}